# configs aliases
alias aliasconf='nano ~/.aliases'
# Devilbox
alias dup='cd ~/devilbox && docker compose up -d httpd php mysql bind redis elastic && ./shell.sh'
alias ddown='cd ~/devilbox && docker compose stop && docker compose rm -f && docker compose down'
alias dr='cd ~/devilbox && docker compose stop && docker compose rm -f && docker compose up -d httpd php mysql bind redis elastic && ./shell.sh'
alias denv='cd ~/devilbox && ./shell.sh'
alias xe="cd ~/devilbox && sed -i '/PHP_MODULES_DISABLE/s/xdebug/xdxe/g' .env && dr"
alias xd="cd ~/devilbox && sed -i '/PHP_MODULES_DISABLE/s/xdxe/xdebug/g' .env && dr"
alias grun='grunt clean && grunt exec && grunt less && grunt watch'
# magento cloud
alias mgcmd='magento-cloud mount:download --mount pub/media --target pub/media --exclude catalog/product/cache --exclude tmp --exclude .\* -y'
alias mgcdd='magento-cloud db:dump --exclude-table="email_abandoned_cart email_automation email_campaign email_catalog email_contact email_contact_consent email_coupon_attribute email_failed_auth email_importer email_order email_review email_rules email_wishlist persistent_session report_compared_product_index report_event report_viewed_product_aggregated_daily report_viewed_product_aggregated_monthly report_viewed_product_aggregated_yearly report_viewed_product_index reporting_counts reporting_module_status reporting_orders reporting_system_updates reporting_users session" --gzip --file=mage_${PWD##*/}_$(date +"%d-%m-%Y").sql.gz'
alias mgclog='magento-cloud log'
alias mgcssh='magento-cloud ssh'
# update
alias upgrade='sudo apt update && sudo apt upgrade && sudo apt autoremove && sudo apt autoclean'
alias upgradedevil='cd ~/devilbox/ && ddown && git pull && docker rmi $(docker images -q) && xd'
alias ehosts='sudo nano /etc/hosts'
alias ehostset='sudo sed -i "2i127.0.0.1 ::1  ${PWD##*/}.local" /etc/hosts'
alias cl='clear'
alias q='exit'
alias l='ls -a --color=auto'
alias ll='ls -al --color=auto'
alias ls='ls -p --color=always --group-directories-first'
alias www='cd ~/devilbox/data/www && pwd && l'
